<!-- Footer Partial -->
<footer>
    <div class="container footer-content">
        <div class="footer-logo">
            PROFESSIONAL BLOG
        </div>
        <div class="footer-links">
            <a href="/">Home</a> | 
            <a href="/about">About</a> | 
            <a href="/blogs">Blogs</a> | 
            <a href="/contact">Contact</a>
        </div>
        <div class="copyright">
            &copy; 2026 Professional Blog Platform. All rights reserved.
            <br>
            Created for Node.js Assessment.
        </div>
    </div>
</footer>
